# Ignore environment/config/secret files
.env
.env.*
config.php
*.key
*.pem
*.log
*.sqlite
*.db
*.bak

# Ignore node or build stuff (optional, only if you use them)
node_modules/
dist/
build/


**/backups/
images/
**/captcha/
*.log
.env
node_modules/


# from grep search
./.vscode/ftp-kr.json
./.vscode/ftp-kr.sync.cache.json
./Definitive-Tickets.git/hooks/fsmonitor-watchman.sample
./_notes/dwsync.xml
./account_close.php
./account_data.php
./account_password.php
./account_password_first.php
./autologin.php
./contact_us.php
./create_account.php
./ext/modules/payment/stripesca/
ext/modules/payment/stripesca/
./ext/vendor/guzzlehttp/psr7/CHANGELOG.md
./ext/vendor/guzzlehttp/psr7/src/Uri.php
./ext/vendor/mailerlite/mailerlite-api-v2-php-sdk/src/Common/RestClient.php
./ext/vendor/mailerlite/mailerlite-api-v2-php-sdk/src/MailerLite.php
./ext/vendor/php-http/curl-client/puli.json
./ext/vendor/php-http/message/src/Authentication.php
./ext/vendor/php-http/message/src/Authentication/BasicAuth.php
./ext/vendor/php-http/message/src/Authentication/Bearer.php
./ext/vendor/php-http/message/src/Authentication/Wsse.php
./ext/vendor/php-http/message/src/Cookie.php
./ext/vendor/psr/http-message/src/UriInterface.php
./ifyacadmin/backups/
./ifyacadmin/compat_test_info.php
./ifyacadmin/customers_mainpage.php
./ifyacadmin/datatables/
./ifyacadmin/edit_orders.php
## ./ifyacadmin/edit_orders_add_product.php
./ifyacadmin/includes/_notes/dwsync.xml
./ifyacadmin/includes/account_check.js.php
./ifyacadmin/includes/add_ccgvdc_application_top.php
./ifyacadmin/includes/application_top.php
./ifyacadmin/includes/classes/XPath.php
./ifyacadmin/includes/classes/_notes/dwsync.xml
./ifyacadmin/includes/classes/customerAccount.php
./ifyacadmin/includes/classes/email.php
./ifyacadmin/includes/classes/http_client.php
./ifyacadmin/includes/classes/passwordhash.php
./ifyacadmin/includes/cms_news.js.php
./ifyacadmin/includes/configure.php
./ifyacadmin/includes/configure_backup.php
./ifyacadmin/includes/filenames.php
./ifyacadmin/includes/form_check.js.php
./ifyacadmin/includes/functions/_notes/dwsync.xml
./ifyacadmin/includes/functions/database.php
./ifyacadmin/includes/functions/general.php
./ifyacadmin/includes/functions/html_output.php
./ifyacadmin/includes/functions/password_funcs.php
./ifyacadmin/includes/general.js
./ifyacadmin/includes/header.php
./ifyacadmin/includes/javascript/jqGrid/js/jquery.jqGrid.min.js
./ifyacadmin/includes/javascript/jqGrid/js/jquery.jqGrid.src.js
./ifyacadmin/includes/javascript/jquery-1.7.1.min.js
./ifyacadmin/includes/javascript/spiffyCal/spiffyCal_v2_1.js
./ifyacadmin/includes/jquery-1.10.2.js
./ifyacadmin/includes/js/jquery.1.0.2.js
./ifyacadmin/includes/languages/english.php
./ifyacadmin/includes/languages/english/customers_mainpage.php
./ifyacadmin/includes/languages/english/edit_orders.php
./ifyacadmin/includes/languages/english/login.php
./ifyacadmin/includes/languages/english/marketing_email_messages.php
./ifyacadmin/includes/languages/english/modules/payment/paypal_api.php
./ifyacadmin/includes/languages/english/modules/payment/square_checkout.php
./ifyacadmin/includes/languages/english/modules/payment/stripesca.php
./ifyacadmin/includes/languages/english/myaccount_update_account.php
./ifyacadmin/includes/languages/english/shop_admin_members.php
./ifyacadmin/includes/languages/english/templates.php
./ifyacadmin/includes/languages/events_messages_mail.php
./ifyacadmin/includes/password_strength.js.php
./ifyacadmin/includes/tinymce/js/tinymce/plugins/codesample/css/prism.css
./ifyacadmin/includes/tinymce/js/tinymce/plugins/codesample/plugin.min.js
./ifyacadmin/includes/tinymce/js/tinymce/plugins/imagetools/plugin.min.js
./ifyacadmin/includes/tinymce/js/tinymce/tinymce.min.js
./ifyacadmin/includes/tweak/display/ALTcustomersOrders.php
./ifyacadmin/includes/tweak/display/customersDetail.php
./ifyacadmin/includes/tweak/display/customersOrders.php
./ifyacadmin/includes/tweak/display/marketingEmailMessages.php
./ifyacadmin/includes/tweak/display/shopAdminMembers.php
./ifyacadmin/includes/tweak/js/customers_mainpage.js
./ifyacadmin/includes/tweak/js/customers_mainpage.js.php
./ifyacadmin/includes/wallet.js
./ifyacadmin/login.php
./ifyacadmin/logoff.php
./ifyacadmin/marketing_email_messages.php
./ifyacadmin/myaccount_update_account.php
./ifyacadmin/order_editor/http_client.php
./ifyacadmin/product_manage.php
./ifyacadmin/reports_discount_coupon.php
./ifyacadmin/reports_shipping.php
./ifyacadmin/sales_giftvoucher_mail.php
./ifyacadmin/sendwhatsapp.php
./ifyacadmin/shop_admin_groups_file_permission.php
./ifyacadmin/shop_admin_members.php
./ifyacadmin/shop_whos_online.php
./ifyacadmin/tickets/index.php
./ifyacadmin/tiny_mce/tiny_mce.js
./ifyacadmin/tiny_mce/tiny_mce_src.js
./includes/_notes/dwsync.xml
./includes/add_ccgvdc_application_top.php
./includes/application_top.php
./includes/captcha/securimage/securimage.php
./includes/captcha/securimage/words/words.txt
./includes/classes/_notes/dwsync.xml
./includes/classes/customerAccount.php
./includes/classes/email.php
./includes/classes/http_client.php
./includes/classes/mail/README.md
./includes/classes/mail/_notes/dwsync.xml
./includes/classes/mail/get_oauth_token.php
./includes/classes/mail/src/OAuth.php
./includes/classes/mail/src/OAuthTokenProvider.php
./includes/classes/mail/src/PHPMailer.php
./includes/classes/mail/src/POP3.php
./includes/classes/mail/src/SMTP.php
./includes/classes/mail/src/_notes/dwsync.xml
./includes/classes/passwordhash.php
./includes/classes/seo.class.php
./includes/configure.php
./includes/configure_backup.php
./includes/filenames.php
./includes/form_check.js.php
./includes/functions/_notes/dwsync.xml
./includes/functions/database.php
./includes/functions/events_general.php
./includes/functions/general.php
./includes/functions/html_output.php
./includes/functions/password_funcs.php
./includes/general.js
./includes/javascript/_notes/dwsync.xml
./includes/javascript/checkout_single.js.php
./includes/javascript/customer_account.js
./includes/javascript/form_check.js.php
./includes/javascript/general.js
./includes/languages/english.php
./includes/languages/english/_notes/dwsync.xml
./includes/languages/english/account.php
./includes/languages/english/account_close.php
./includes/languages/english/account_data.php
./includes/languages/english/account_password.php
./includes/languages/english/account_password_first.php
./includes/languages/english/autologin.php
./includes/languages/english/create_account.php
./includes/languages/english/login.php
./includes/languages/english/loginbox.php
./includes/languages/english/modules/payment/paypal_api.php
./includes/languages/english/password_forgotten.php
./includes/languages/english/password_reset.php
./includes/languages/english/templates.php
./includes/languages/events_messages_mail.php
./includes/modules/base/ML_Rest.php
./includes/modules/base/ML_Rest_Base.php
./includes/modules/contact.php
./includes/modules/double_boxes.php
./includes/modules/payment/paypal_api.php
./includes/modules/payment/stripesca.php
./includes/password_strength.js.php
./includes/simple_html_dom.php
./login.php
./logoff.php
./password_forgotten.php
./password_reset.php
./password_send.php
./paypal_api_cancel.php
./paypal_api_return.php
./paypal_api_webhook.php
./stripesca_failure.php
./stripesca_success.php
./stripesca_webhook.php
./templates/blackzone/assets/js/jquery-3.4.1.js
./templates/blackzone/assets/js/jquery.min.js
./templates/blackzone/assets/js/osconcert.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/blackzone/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/blackzone/assets/vendor/font-awesome/css/font-awesome.css
./templates/blackzone/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/blackzone/assets/vendor/jquery/jquery.min.js
./templates/blackzone/assets/vendor/jquery/jquery.min.map
./templates/blackzone/boxes/design_loginbox.php
./templates/blackzone/boxes/loginbox.php
./templates/blackzone/boxes/new_loginbox.php
./templates/content/_notes/dwsync.xml
./templates/content/account.tpl.php
./templates/content/account_close.tpl.php
./templates/content/account_data.tpl.php
./templates/content/account_edit.tpl.php
./templates/content/account_password.tpl.php
./templates/content/account_password_first.tpl.php
./templates/content/contact_us.tpl.php
./templates/content/create_account.tpl.php
./templates/content/login.tpl.php
./templates/content/password_forgotten.tpl.php
./templates/content/password_reset.tpl.php
./templates/content/password_send.tpl.php
./templates/darkzone/assets/js/jquery.min.js
./templates/darkzone/assets/js/osconcert.js
./templates/darkzone/assets/vendor/aos/aos.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/darkzone/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/darkzone/assets/vendor/font-awesome/css/font-awesome.css
./templates/darkzone/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/darkzone/assets/vendor/jquery/jquery.min.js
./templates/darkzone/assets/vendor/jquery/jquery.min.map
./templates/darkzone/assets/vendor/php-email-form/php-email-form.php
./templates/darkzone/assets/vendor/php-email-form/validate.js
./templates/darkzone/boxes/design_loginbox.php
./templates/darkzone/boxes/loginbox.php
./templates/darkzone/boxes/new_loginbox.php
./templates/lightzone/assets/js/jquery.min.js
./templates/lightzone/assets/js/osconcert.js
./templates/lightzone/assets/vendor/aos/aos.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/lightzone/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/lightzone/assets/vendor/font-awesome/css/font-awesome.css
./templates/lightzone/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/lightzone/assets/vendor/jquery/jquery.min.js
./templates/lightzone/assets/vendor/jquery/jquery.min.map
./templates/lightzone/assets/vendor/php-email-form/php-email-form.php
./templates/lightzone/assets/vendor/php-email-form/validate.js
./templates/lightzone/boxes/design_loginbox.php
./templates/lightzone/boxes/loginbox.php
./templates/lightzone/boxes/new_loginbox.php
./templates/newzone/assets/js/jquery-3.4.1.js
./templates/newzone/assets/js/jquery.min.js
./templates/newzone/assets/js/osconcert.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/newzone/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/newzone/assets/vendor/font-awesome/css/font-awesome.css
./templates/newzone/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/newzone/assets/vendor/jquery/jquery.min.js
./templates/newzone/assets/vendor/jquery/jquery.min.map
./templates/newzone/boxes/design_loginbox.php
./templates/newzone/boxes/loginbox.php
./templates/newzone/boxes/new_loginbox.php
./templates/restaurantly/assets/js/jquery.min.js
./templates/restaurantly/assets/js/osconcert.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/restaurantly/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/restaurantly/assets/vendor/font-awesome/css/font-awesome.css
./templates/restaurantly/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/restaurantly/assets/vendor/jquery/jquery.min.js
./templates/restaurantly/assets/vendor/jquery/jquery.min.map
./templates/restaurantly/boxes/design_loginbox.php
./templates/restaurantly/boxes/loginbox.php
./templates/restaurantly/boxes/new_loginbox.php
./templates/theevent/assets/js/jquery.min.js
./templates/theevent/assets/js/osconcert.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.bundle.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.esm.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.esm.js.map
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.esm.min.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.js.map
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.min.js
./templates/theevent/assets/vendor/bootstrap/js/bootstrap.min.js.map
./templates/theevent/assets/vendor/font-awesome/css/font-awesome.css
./templates/theevent/assets/vendor/font-awesome/css/font-awesome.min.css
./templates/theevent/assets/vendor/jquery/jquery.min.js
./templates/theevent/assets/vendor/jquery/jquery.min.map
./templates/theevent/boxes/design_loginbox.php
./templates/theevent/boxes/loginbox.php
./templates/theevent/boxes/new_loginbox.php