/* Global Colors */
:root {
	--background-color: #ffffff;
	--background-color-rgb: 255, 255, 255;
	--contrast-color: #000000;
	--contrast-color-rgb: 0, 0, 0;
	--color-white: #ffffff;
	--color-white-rgb: 255, 255, 255;
	--color-black: #000000;
	--color-black-rgb: 0, 0, 0;

}

