.legend ul{padding-left:0px;}

span.cube{display:inline-block;height:18px;width:18px;margin-bottom: -3px;}
span.plan_{background:none repeat scroll 0 0;border:1px solid grey;}
span.plan_red{background:none repeat scroll 0 0 #fa9c9f;border:1px solid grey;}
span.plan_blue{background:none repeat scroll 0 0 #c0ffff;border:1px solid grey;}
span.plan_green{background:none no-repeat scroll 0 0 #80ff80;border:1px solid grey;background-image:url('../../images/wheelchair.svg') no-repeat center top;}
span.plan_fuchsia{background:none repeat scroll 0 0 #ffc0ff;border:1px solid grey;}
span.plan_yellow{background:none repeat scroll 0 0 #ffffc0;border:1px solid grey;}
span.plan_salmon{background:none repeat scroll 0 0 #FA8072;border:1px solid grey;}
span.plan_skyblue{background:none repeat scroll 0 0 #87CEEB;border:1px solid grey;}
span.plan_teal{background:none repeat scroll 0 0 #04aca9;border:1px solid grey;}
span.plan_thistle{background:none repeat scroll 0 0 #D8BFD8;border:1px solid grey;}
span.plan_palegreen{background:none repeat scroll 0 0 #98FB98;border:1px solid grey;}
span.plan_orange{background:none repeat scroll 0 0 #FFA500;border:1px solid grey;}
span.plan_incart{background:none repeat scroll 0 0 #FF00FF;border:1px solid #808080;}
span.plan_reserved{background:none repeat scroll 0 0 #808080;border:1px solid #808080;}
span.plan_locked{background:none repeat scroll 0 0 #8080C0;border:1px solid #808080;}
span.plan_own{background:none repeat scroll 0 0 #4a2717;border:1px solid #808080;}
/*fix opera outline*/
body.opera ul.r li { outline:0px; }
body.opera ul.r li.ltr { outline:0px; }
/*eof fix opera outline*/
ul.r li.bl, ul#ajax_cart li.bl{background-color:#C0FFFF;}
ul.r li.rd, ul#ajax_cart li.rd{background-color:#FFC0C0;}
ul.r li.gr{background:#80FF80 url('../../images/wheelchair.svg') no-repeat center top;}
ul#ajax_cart li.gr{background-color:#80FF80;}
ul.r li.or, ul#ajax_cart li.or{background-color:#FFA500;}
ul.r li.fu, ul#ajax_cart li.fu{background-color:#FFC0FF;}
ul.r li.ye, ul#ajax_cart li.ye{background-color:#FFFFC0;}
ul.r li.sa, ul#ajax_cart li.sa{background-color:#FA8072;}
ul.r li.sb, ul#ajax_cart li.sb{background-color:#87CEEB;}
ul.r li.te, ul#ajax_cart li.te{background-color:#008080;}
ul.r li.th, ul#ajax_cart li.th{background-color:#D8BFD8;}
ul.r li.pg, ul#ajax_cart li.pg{background-color:#98FB98;}
ul.r li.o{color:#000000;background-color:#FFFFFF;cursor:default;}
ul.r li.x{color:#FFFFFF;background-color:#808080;cursor:default;}
ul.r li.y{color:#FFFFFF;background-color:#FF00FF;cursor:pointer;}
ul.r li.z{color:#FFFFFF;background-color:#8080C0;cursor:default;}
ul.r li.s:hover{background-color:#000;color:#FFFFFF;}

div#stage_label{width:1040px;margin: auto;margin-top:5px;background:url('../../images/stage.png') no-repeat center top;text-align:center;padding-top:40px;font-family:Arial,Verdana,Helvetica, sans-serif;font-size:26px;-moz-background-size:80% 100%;-webkit-background-size:80% 100%;background-size:80% 100%;height:100px;color:#808080;font-weight:bold;outline:0px solid #C0C0C0;}

div.seatplan{margin-top:10px;padding:0px;outline:0px solid #C0C0C0;margin-left:auto;margin-right:auto;-moz-user-select:none;-khtml-user-select:none;user-select:none;background:url('../bg1.png') no-repeat center bottom;}
ul.hidden{display:none !important;}
ul.r{padding:0px;margin:0px;list-style-type:none;height:24px;}
ul.r li{float:left;width:20px;height:16px;font-family:Verdana;font-size:8px;padding:0;margin-left:1px;margin-right:1px;text-align:center;/*outline:1px solid #C0C0C0;*/border:1px solid #808080;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);color:#000000;cursor:pointer;}
ul.r li.ltr{font-weight:bold;color:#ff0000;outline:0px solid #c0c0c0;background-color:none;cursor:default;border:0px solid #808080;-webkit-box-shadow:none ;-moz-box-shadow:none ;box-shadow:none ;margin: 0 10px}
ul.r li.b{background:none repeat scroll 0 0 transparent;cursor:default;outline:0px solid transparent;border:0px solid #808080;-webkit-box-shadow:none ;-moz-box-shadow:none ;box-shadow:none ;}
ul.r li.c{background:none repeat scroll 0 0 transparent;cursor:default;outline:0px solid transparent;border:0px solid #808080;-webkit-box-shadow:none ;-moz-box-shadow:none ;box-shadow:none ;}
ul.r li.h{width:9px;background:none repeat scroll 0 0 transparent;outline:0px solid transparent;cursor:default;border:0px solid #808080;-webkit-box-shadow:none ;-moz-box-shadow:none ;box-shadow:none ;}
ul.r li.sd{background:#ccc;cursor:default;outline:0px solid transparent;border:0px solid #808080;-webkit-box-shadow:none;box-shadow:none ;}
#gap{height:60px;}

#sp2,#sp58,#sp114,#sp170,#sp226,#sp332{width:1040px;}
@media (max-width: 1200px) {
div.seatplan{outline:0px solid green;-moz-background-size:30% 8%;-webkit-background-size:30% 8%;background-size:30% 8%;}
#sp2,#sp58,#sp114,#sp170,#sp226,#sp332{width:820px;}
div#stage_label{width:820px;}
ul.r{height:20px;}
ul.r li{width:16px;font-size:7px;height:16px;margin-left:1px;margin-right:1px;}
ul.r li.ltr{margin: 0 4px}
ul.r li.h{width:7px;}	
}


@media (max-width: 992px) {
div.seatplan{outline:0px solid red;padding:0px;-moz-background-size:30% 8%;-webkit-background-size:30% 8%;background-size:30% 8%;}
#sp2,#sp58,#sp114,#sp170,#sp226,#sp332{width:706px;}
div#stage_label{width:706px;}
ul.r{height:18px;}
ul.r li{width:16px;font-size:7px;height:14px;margin-left:0px;margin-right:0px;}
ul.r li.ltr{margin: 0px}
ul.r li.h{width:8px;}
}

@media (max-width: 767px) {
div.seatplan{outline:0px solid yellow;padding:0px;-moz-background-size:30% 8%;-webkit-background-size:30% 8%;background-size:30% 8%;}
#sp2,#sp58,#sp114,#sp170,#sp226,#sp332{width:528px;}
div#stage_label{width:528px;}
ul.r{height:14px;}
ul.r li{width:12px;font-size:7px;height:12px;margin-left:0px;margin-right:0px;}
ul.r li.ltr{margin: 0px}
ul.r li.h{width:6px;}

}
/* @media (max-width: 480px) {
div.seatplan{width:400px;outline:0px solid green;padding:0px;}
div#stage_label{width:400px;}
ul.r li{width:18px;font-size:8px;height:16px;margin-left:0px;margin-right:0px;}
ul.r li.ltr{margin: 0px}
ul.r li.h{width:7px;}
}
 */

@media (max-width: 767px) {
.clear {overflow-x: scroll;-webkit-overflow-scrolling: touch;}
}
@media (max-width: 480px) {
.clear {overflow-x: scroll;-webkit-overflow-scrolling: touch;}
} 