:root {
	--color-primary: #70b9b0;
	--color-primary-rgb: 102, 167, 164;
	--color-primary-dark: #073839;
	--color-primary-dark-rgb: 0, 49, 0;
	--color-secondary: var(--color-primary-dark);
	--color-secondary-light: #FE5252;
	--color-secondary-rgb: 254, 82, 82;
	--color-links: var(--color-primary); 
	--color-links-hover: var(--color-primary-dark);
	--header-color:  var(--color-primary-dark);
	--footer-content-color: #70b9b0;
	--color-footer-content-links-rgb: var(--color-white-rgb);
	--color-footer-content-links-hover-rgb: var(--color-white-rgb);
	--footer-legal-color: var(--color-primary-dark);
	--button-hero: var(--color-primary);
	--button-hero-rgb: var(--color-primary-rgb);
	--primary-rgb: var(--color-primary-rgb);  /*Primary RGB*/
	--header-text-color: var(--color-white);
	--header-text-color-span: var(--color-primary);
	--nav-toggle: var(--color-white);
	--footer-legal: var(--color-primary);
	--footer-legal-rgb: var(--color-primary-rgb);
	--footer-copyright: var(--color-primary);
	--scroll-top: var(--color-primary);
	--scroll-top-hover: var(--color-primary-rgb);
	--nav-color: var(--color-white);
	--nav-hover-color: var(--color-white);
	--nav-hover-underline: var(--color-primary);
}