:root {
    --color-primary: #F62217;
    --color-primary-rgb: 246, 34, 23;
    --color-primary-dark: #970E1D;
	--color-primary-dark-rgb: 151, 14, 29;
    --color-secondary: #16EAF5;
    --color-secondary-rgb: 22, 234, 245;
	--color-links: var(--color-primary); 
	--color-links-hover: #FFD0D0;
	--header-color:  var(--color-primary);
	--footer-content-color: #878D94;
	--color-footer-content-links-rgb: var(--color-white-rgb);
	--color-footer-content-links-hover-rgb: var(--color-white-rgb);
	--footer-legal-color: var(--color-primary-dark);
	--button-hero: var(--color-primary);
	--button-hero-rgb: var(--color-primary-rgb);
	--primary-rgb: var(--color-primary-rgb);  /*Primary RGB*/
	--header-text-color: var(--color-white);
	--header-text-color-span: var(--color-secondary);
	--nav-toggle: var(--color-white);
	--footer-legal: var(--color-secondary);
	--footer-legal-rgb: var(--color-secondary-rgb);
	--footer-copyright: var(--color-secondary);
	--scroll-top: var(--color-secondary);
	--scroll-top-hover: var(--color-primary-rgb);
	--nav-color: var(--color-white);
	--nav-hover-color: var(--color-white);
	--nav-hover-underline: var(--color-secondary);
}