:root {
    --color-primary: #4682B4;
    --color-primary-rgb: 70, 130, 180;
    --color-primary-dark: #335C82;
	--color-primary-dark-rgb: 51, 92, 130;
	--color-secondary: #0c2e8a;
	--color-secondary-rgb: 12, 46, 138;
	--color-links: var(--color-primary); 
	--color-links-hover: var(--color-secondary);
	--header-color:  var(--color-primary);
	--footer-content-color: #0c2e8a;
	--color-footer-content-links-rgb: var(--color-white-rgb);
	--color-footer-content-links-hover-rgb: var(--color-white-rgb);
	--footer-legal-color: var(--color-primary);
	--button-hero: var(--color-primary);
	--button-hero-rgb: var(--color-primary-rgb);
	--primary-rgb: var(--color-primary-rgb);  /*Primary RGB*/
	--header-text-color: var(--color-white);
	--header-text-color-span: var(--color-white);
	--nav-toggle: var(--color-white);
	--footer-legal: var(--color-secondary);
	--footer-legal-rgb: var(--color-secondary-rgb);
	--footer-copyright: var(--color-secondary);
	--scroll-top: var(--color-secondary);
	--scroll-top-hover: var(--color-primary-rgb);
	--nav-color: var(--color-white);
	--nav-hover-color: var(--color-white);
	--nav-hover-underline: var(--color-secondary);
}