:root {
	--color-primary: #05c46b;
	--color-primary-rgb: 5, 196, 107;
	--color-primary-dark: #004A25;
	--color-primary-dark-rgb: 0, 74, 37;
	--color-secondary: #485664;
	--color-secondary-rgb: 72, 86, 100;
	--color-links: var(--color-primary); 
	--color-links-hover: var(--color-primary-dark);
	--header-color:  var(--color-primary);
	--footer-content-color: #8f9fae;
	--color-footer-content-links-rgb: var(--color-white-rgb);
	--color-footer-content-links-hover-rgb: var(--color-white-rgb);
	--footer-legal-color: var(--color-primary-dark);
	--button-hero: var(--color-primary);
	--button-hero-rgb: var(--color-primary-rgb);
	--primary-rgb: var(--color-primary-rgb);  /*Primary RGB*/
	--header-text-color: var(--color-white);
	--header-text-color-span: var(--color-primary-dark);
	--nav-toggle: var(--color-white);
	--footer-legal: var(--color-primary);
	--footer-legal-rgb: var(--color-primary-rgb);
	--footer-copyright: var(--color-primary);
	--scroll-top: var(--color-primary);
	--scroll-top-hover: var(--color-primary-rgb);
	--nav-color: var(--color-white);
	--nav-hover-color: var(--color-white);
	--nav-hover-underline: var(--color-primary-dark);
}

.btn-primary {
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-active-border-color: #0a53be;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1D1D1D;
  padding: 0 0 30px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555;
}

#footer .credits a {
  color: #0c2e8a;
}